:root {
    --primary-color: #4CAF50;
    --primary-color-hover: #3e8e41;
    --background-light: #f2f2f2;
    --background-dark: #e5e5e5;
    --font-size-large: 3rem;
    --font-size-medium: 24px;
    --font-size-small: 18px;
    --padding-large: 1em;
    --padding-medium: 0.5em;
    --padding-small: 0.2em;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, var(--background-light), var(--background-dark));
    text-align: center;
    max-width: 600px; /* set maximum width */
    margin: 0 auto; /* center content horizontally */
}

h1 {
    font-size: var(--font-size-large);
    margin-top: 2em;
}

.button {
    background-color: var(--primary-color);
    color: #fff;
    padding: var(--padding-large);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

/* Add media queries for different screen sizes */
@media only screen and (max-width: 768px) {
    body {
        font-size: var(--font-size-medium);
    }
    .button {
        padding: var(--padding-medium);
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: var(--font-size-small);
    }
    .button {
        padding: var(--padding-small);
    }
}
