:root {
    --primary-color: #4CAF50;
    --primary-color-hover: #3e8e41;
    --background-light: #f2f2f2;
    --background-dark: #e5e5e5;
    --font-size-large: 3rem;
    --font-size-medium: 24px;
    --font-size-small: 18px;
    --font-size-button: 2vw; /* Button text will scale based on viewport width */
    --padding-large: 1em;
    --padding-medium: 0.5em;
    --padding-small: 0.2em;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, var(--background-light), var(--background-dark));
    text-align: center;
    max-width: 600px; /* set maximum width for content */
    margin: 0 auto; /* center content horizontally */
    padding-top: 2em; /* add top padding for space */
}

/* Styling the image to be responsive */
.responsive-image {
    width: 80%;
    height: auto; /* Maintains aspect ratio */
    max-width: 600px; /* Maximum width to fit within the page's content width */
    border-radius: 10px; /* Optional: rounded corners */
}

/* Button styling */
.button {
    background-color: var(--primary-color);
    color: #fff;
    padding: var(--padding-large);
    margin: var(--padding-large);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1.5em; /* Add space between the image and buttons */
    width: 80%;
    max-width: 500px;
    font-size: var(--font-size-button); /* Make the font size responsive */
}

.button:hover {
    background-color: var(--primary-color-hover);
}

/* Responsive design adjustments */
@media only screen and (max-width: 768px) {
    body {
        font-size: var(--font-size-medium);
    }
    .button {
        font-size: 4vw; /* Increase font size on smaller screens */
        padding: var(--padding-medium);
        margin: var(--padding-medium);
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: var(--font-size-small);
    }
    .button {
        font-size: 5vw; /* Further increase font size on very small screens */
        padding: var(--padding-small);
        margin: var(--padding-small);
    }
}
